:root{
  --Soft-blue: #8bacda;
  --Cyan: #00fff7;
  --Cyan-transparent: #00fff78a;
  --Very-dark-blue: #0d192b;
  --Very-dark-blue-card: #14253d;
  --Very-dark-blue-line: #2f415b;
  --White: #ffffff;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
}
.principal-container{
  width: 100vw;
  height: 100vh;
  background-color: var(--Very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container{
  width: 300px;
  height: 85%;
  background-color: var(--Very-dark-blue-card);
  border-radius:12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.card-image img{
  width: 250px;
  border-radius: 8px;
  /* border: 1px solid var(--Very-dark-blue-line); */
  margin-bottom: 14px;
}
.image figure img:nth-child(1){
  position: absolute;
  z-index: 2;
}
.image figure div{
  opacity: 0;
  z-index: 4;
  position: relative;
  width: 250px;
  background-color: var(--Cyan-transparent);
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  /* left: 590px;
  top: 183px; */
}
.image figure div:hover{
  opacity: 1;
}
.image figure div img{
  width: 35px;
  margin-top: 12px;
  margin-left: 5px;
}
.card-info{
  width: 250px;
  height: auto;
}
.card-info p:nth-child(1){
  font-size: 2.1rem;
  color: var(--White);
  font-weight: 600;
  margin-bottom: 14px;
}
.card-info p:nth-child(1):hover{
  color: var(--Cyan);
  cursor: pointer;
}
.card-info p:nth-child(2){
  font-size: 1.5rem;
  color: var(--Soft-blue);
  font-weight: 300;
}
.value-date{
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.value-date div{
  width: 50%;
  display: flex;
  align-items: center;
}
.value-date div:nth-child(1) p{
  color: var(--Cyan);
  font-weight: 600;
}
.value-date div:nth-child(2){
  justify-content: flex-end;
}
#info{
  margin-left: 8px;
}
.creator-info{
  border-top: solid 1px var(--Very-dark-blue-line);
  width: 250px;
  padding-top: 12px;
  display: flex;
  align-items: center;
}
.creator-info p{
  margin-left: 12px;
  font-size: 1.5rem;
}
.creator-info p span:nth-child(1){
  color:var(--Soft-blue);
}
.creator-info p span:nth-child(2){
  color:var(--White);
}
.creator-info p span:nth-child(2):hover{
  color:var(--Cyan);
  cursor: pointer;
}
.creator-info img{
  width: 35px;
  border-radius: 50%;
  border: 1px solid var(--White);
}
